{{define "head"}}{{ end}}
{{define "main"}}
<div class="flex-row prose">
    <div class="flex justify-between items-center mb-6">
        <h1 class="m-0 p-0">Posts</h1>
        <button class="btn btn-soft btn-primary">
            <a href="/editor/">Create New Post</a>
        </button>
    </div>
    
    {{range $i, $post := .Posts}}
        {{if ne $i 0}}
            <div class="divider"></div>
        {{end}}
        <div class="min-w-96">
            <h2><a class="" href="/editor/?path={{$post.FilePath}}">{{$post.Metadata.Title}}</a></h2>
            <p class="text-sm">
                {{range $post.Metadata.Tags}}
                    <span class="badge badge-secondary mx-1">{{.}}</span>
                {{end}}
            </p>
            <p class="text-sm">Published: <span x-data="{date: new Date($el.innerText)}"
                                                  x-text="date.toLocaleString()"
                class="datetime">{{$post.Metadata.Date}}</span></p>
        </div>
    {{end}}
</div>
{{end}}
{{ define "scripts" }}{{ end }}