<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/static/lovecms.css'>
        <title>❤️CMS</title>
    </head>
    <body>
        <main>
            <h2>Files</h2>
            {{ range .}}
            {{ .Name }}
            {{ end }}
        </main>
    </body>
</html>