package templates

import "github.com/jaredhaight/lovecms/internal/posts"

templ Post(post posts.Post) {
    <div class="flex flex-col prose w-1/1">
      <div>
        <h1 id="title">{ post.Title }</h1>
      </div>
      <div id="editor">
        @templ.Raw(post.Content)
      </div>
      <div>
        <button>Submit</button>
      </div>
    </div>
}