package templates

import "github.com/jaredhaight/lovecms/internal/posts"

templ Post(post posts.Post) {
    <div class="flex flex-col prose">
      <div>
        <h1>{ post.Title }</h1>
      </div>
      <div>
        @templ.Raw(post.Content)
      </div>
    </div>
}