{{ define "base" }}
<!doctype html>
<html lang='en'>
	<head>
		<title>❤️CMS</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="/static/css/lovecms.css"/>
		<!-- eventually we'll ship the below with the compiled binary -->
		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
		<script src="//unpkg.com/alpinejs" defer></script>
        {{ template "head" }}
	</head>
	<body>
		<main class="flex flex-col">
			<div class="navbar shadow-sm">
				<div class="navbar-start">
					<a class="text-xl font-semibold" href="/">❤️CMS</a>
				</div>
				<div class="navbar-end">
					<a class="btn" href="/editor/">Create Post</a>
				</div>
				</div>
            {{ template "main" . }}
		</main>
	</body>
    {{ template "scripts"}}
</html>
{{ end }}